@{
    ViewBag.Title = "_Partial";
}

<div class="row">
    <div class="span8 offset4">
        <h2>Partial</h2>
        <span class="current-time">Razor: @Html.Raw(DateTime.Now)</span><span class="current-time">Code: @Model.ToString()</span>
    </div>
</div>