@{
    ViewBag.Title = "BasicActionWithCachedChildAction";
}

<div class="row">
    <div class="span10 offset2">
        <h2>Basic Action with Cached Child</h2>
        <span class="current-time">Razor: @Html.Raw(DateTime.Now)</span><span class="current-time">Code: @Model.ToString()</span>
    </div>
</div>