@{
    ViewBag.Title = "BasicChildAction";
    Layout = null;
}

<div class="row">
    <div class="span8 offset4">
        <h2>Child Action</h2>
        <span class="current-time">Razor: @Html.Raw(DateTime.Now)</span><span class="current-time">Code: @Model.ToString()</span>
    </div>
</div>